@model DbFirst.RestaurantInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
<div class="row mt-5">
        <div class="col-md-4 col-sm-6 my-2">
            <div class="card">  
                <div class="card-body">
                    <h5 class="card-title">@Model.RestaurantName</h5>
                    <p class="card-text">@Model.City</p>
                    <p class="card-text">@Model.Description</p>
                    <p class="card-text">@Model.Email</p>
                    @Html.ActionLink("Back", "Index", null, htmlAttributes: new { @class = "btn btn-secondary px-5 py-3" })
                    
                </div>
            </div>
        </div>
</div>
</body>

