@model IEnumerable<DbFirst.RestaurantInfo>
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <table style="border:2px solid; border-collapse:collapse">
        <thead>
        <tr>
            <th>Name </th>
            <th>Address </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var rest in Model)
        {
            <tr style="border:2px solid black">
                <td>@rest.RestaurantName</td>
                <td>@rest.City</td>
                <td>@Html.ActionLink("Details", "Details", new { id = rest.restaurantId })</td>
                <td>@Html.ActionLink("Update", "Update", new { id = rest.restaurantId })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = rest.restaurantId })</td>

            </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>
