@model IEnumerable<DbFirst.RestaurantInfo>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
<div>
    
</div>
<div class="row mt-5 d-flex">
    <div class="col-xl-6 col-lg-8 col-md-10 m-auto">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Choose a sort method</h5>
                @Html.ActionLink("Sort: Id Ascending", "SortByAscendingId", null, htmlAttributes: new { @class = "btn btn-success btn-block p-1 m-1" })
                <span class="glyphicon glyphicon-search"></span>
                @Html.ActionLink("Sort: Id Descending", "SortByDescendingId", null, htmlAttributes: new { @class = "btn btn-success btn-block p-1 m-1" })
                @Html.ActionLink("Sort: Name Ascending", "SortByAscendingName", null, htmlAttributes: new { @class = "btn btn-success btn-block p-1 m-1" })
                @Html.ActionLink("Sort: Name Descending", "SortByDescendingName", null, htmlAttributes: new { @class = "btn btn-success btn-block p-1 m-1" })
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
@foreach(var rest in Model){
    <div class="col-md-4 col-sm-6 my-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@rest.RestaurantName</h5>
                <p class="card-text">@rest.City</p>
                @Html.ActionLink("Details", "Details", new { id = rest.restaurantId })
                @Html.ActionLink("Update", "Update", new { id = rest.restaurantId })
                @Html.ActionLink("Delete", "Delete", new { id = rest.restaurantId })
                @Html.ActionLink("View Reviews", "AllReviews", "Review", new { id = rest.restaurantId }, null)
                @Html.ActionLink("Add Review", "Create", "Review", new { id = rest.restaurantId }, null)
            </div>
        </div>
    </div>
    }
</div>
</body>



@* *@
@* <div> *@
@*     <table style="border:2px solid; border-collapse:collapse"> *@
@*         <thead> *@
@*         <tr> *@
@*             <th>Name </th> *@
@*             <th>Address </th> *@
@*         </tr> *@
@*         </thead> *@
@*         <tbody> *@
@*         @foreach (var rest in Model) *@
@*         { *@
@*             <tr style="border:2px solid black"> *@
@*                 <td>@rest.RestaurantName</td> *@
@*                 <td>@rest.City</td> *@
@*                 <td>@Html.ActionLink("Details", "Details", new { id = rest.restaurantId })</td> *@
@*                 <td>@Html.ActionLink("Update", "Update", new { id = rest.restaurantId })</td> *@
@*                 <td>@Html.ActionLink("Delete", "Delete", new { id = rest.restaurantId })</td> *@
@* *@
@*             </tr> *@
@*         } *@
@*         </tbody> *@
@*     </table> *@
@* </div> *@
