@model DbFirst.RestaurantInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
</head>
<body>
<div>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(Model => Model.restaurantId);
        @Html.EditorFor(Model => Model.restaurantId)<br />

        @Html.LabelFor(Model => Model.RestaurantName);
        @Html.EditorFor(Model => Model.RestaurantName, new { htmlattributes = new { placeholder = Model.RestaurantName, required = "required" } })<br />
        @Html.ValidationMessageFor(Model=>Model.RestaurantName)

        @Html.LabelFor(Model => Model.City);
        @Html.EditorFor(Model => Model.City)<br />

        @Html.LabelFor(Model => Model.Street);
        @Html.EditorFor(Model => Model.Street)<br />

        @Html.LabelFor(Model => Model.Description);
        @Html.EditorFor(Model => Model.Description) <br />

        @Html.LabelFor(Model => Model.Email);
        @Html.EditorFor(Model => Model.Email)<br />


        <input type="submit" value="Add" />
    }
</div>
</body>
</html>
