@model DbFirst.ReviewerInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="row mt-5 d-flex">
                <div class="col-xl-6 col-lg-8 col-md-10 m-auto my-2">
                    <div class="card">
                        <div class="card-body">
                            @{ Model.restaurantId = Convert.ToInt32(ViewContext.RouteData.Values["id"]);}
                            @Html.HiddenFor(Model => Model.restaurantId)
                           
                            <h5>Add a Review for @ViewBag.RestaurantName</h5>
                            <h5 class="card-title">
                                @Html.EditorFor(Model => Model.ReviewerName, new {htmlattributes = new {placeholder = "Enter Name", required = "required"}})<br/>
                                @Html.ValidationMessageFor(Model => Model.ReviewerName)
                            </h5>
                            <p class="card-text">
                                @Html.EditorFor(Model => Model.Rating, new {htmlattributes = new {placeholder = "Enter City", required = "required"}})
                                @Html.ValidationMessageFor(Model => Model.Rating)
                            </p>
                            <button type="button" class="btn">@Html.ActionLink("Back", "Index", "Restaurant", null, null)</button>
                            <input type="submit" class="btn btn-success float-right" value="Add"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</body>

