@model DbFirst.ReviewerInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ReviewerInfo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ReviewerName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReviewerName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Rating)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RestaurantInfo.RestaurantName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RestaurantInfo.RestaurantName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.reviewerId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
