@model DbFirst.ReviewerInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="row mt-5 d-flex">
                <div class="col-xl-6 col-lg-8 col-md-10 m-auto my-2">
                    <div class="card">
                        <div class="card-body">
                            <h5>Update the Review</h5>
                            <h5 class="card-title">
                                @Html.HiddenFor(@Model => Model.reviewerId)
                                @Html.HiddenFor(@Model => Model.restaurantId)

                                @Html.EditorFor(Model => Model.ReviewerName, new { htmlattributes = new { placeholder = "Enter Name", required = "required" } })<br />
                                @Html.ValidationMessageFor(Model => Model.ReviewerName)
                            </h5>
                            <p class="card-text">
                                @Html.EditorFor(Model => Model.Rating, new { htmlattributes = new { placeholder = "Enter Rating", required = "required" } })
                                @Html.ValidationMessageFor(Model => Model.Rating)
                            </p>
                            @Html.ActionLink("Back", "AllReviews", new {id = Model.restaurantId}, htmlAttributes: new { @class = "btn btn-secondary px-5 py-3" })
                            <input type="submit" class="btn btn-success px-5 py-3  float-right" value="Add" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>

